/EnterpriseApp/nbproject/private/
/EnterpriseApp/EnterpriseApp-war/nbproject/private/
/EnterpriseApp/EnterpriseApp-ejb/nbproject/private/
/FXClient/nbproject/private/
/EnterpriseApp/EnterpriseApp-ejb/build/
/EnterpriseApp/EnterpriseApp-war/build/
/EnterpriseApp/build/
/EnterpriseApp/EnterpriseApp-ejb/dist/
/EnterpriseApp/EnterpriseApp-war/dist/
/EnterpriseApp/dist/
/FXClient/build/
/FXClient/dist/